.n {
    margin-bottom: 0px;
}

.sh-btn {
    margin-bottom: 40px;
    padding: 30px
}

.sh-body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 600px;
}