.n {
    margin-bottom: 0px;
}

.sh-btn {
    margin-bottom: 20px;
    padding: 30px
}

.sh-body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
}