/* 메인 카드 */

.Gwolnadri-body .main-page {
    position: relative;
}

.Gwolnadri-body .main-page img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.main-page .card-txt {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
    width: 300px;
    color: #fff;
    z-index: 1;
}

.card-txt .category {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    width: auto;
    padding: 8px 13px;
    margin-bottom: 15px;
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 20px;
    color: #fff;
}

.card-txt .title {
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 15px;
}

.card-txt .event-date {
    font-size: 21px;
    font-weight: 300;
    margin: 0 2px 35px 5px;
}

.card-txt .card-icon {
    display: flex;
    gap: 30px;
    margin: 0 0 0 5px;
}

.card-txt .card-icon img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(140deg) brightness(104%) contrast(106%);
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.card-txt .card-icon span {
    font-size: 11px;
}

.event-wrap .sub-content {
    margin: 30px;
}

.sub-content .content-title {
    font-size: 21px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.sub-content .content-txt {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.45;
}

/* 서브 카드 */

.contant-page {
    z-index: -1;
}
.contant-page .sub-card{
    position: relative;
    margin: 30px;
}

.contant-page .sub-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.sub-card .sub-card-txt {
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 300px;
    margin-bottom: 30px;
    color: #fff;
}

.sub-card-txt .category {
    display: inline-block;
    font-size: 11px;
    font-weight: 300;
    width: auto;
    padding: 7px 12px;
    margin-bottom: 15px;
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 20px;
    color: #fff;
}

.sub-card-txt .title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.sub-card-txt .event-date {
    font-size: 17px;
    font-weight: 300;
    margin: 0 2px 25px 5px;
}

.sub-card-txt .card-icon {
    display: flex;
    gap: 30px;
    margin: 0 0 0 5px;
}

.sub-card-txt .card-icon img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(140deg) brightness(104%) contrast(106%);
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.sub-card-txt .card-icon span {
   font-size: 11px;
}

.reservation-btn {
    background-color: #555;
    border-radius: 0;
}

/* 리뷰 */

.review {
    border-top: 1px solid rgb(51, 51, 51, 0.1); 
}

.review-title {
    font-size: 21px;
    font-weight: 500;
    margin: 30px 30px 15px 30px;
}

.review .review-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid rgb(51, 51, 51, 0.1);

}

.review .sub-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-card {
    position: relative;
    display: flex;
    gap: 30px;
    padding: 15px;
    border: 1px solid rgb(51, 51, 51, 0.1); 
}

.review-txt {
    line-height: 1.45;
    height: 200px;
}

.comment_img {
    width: 200px;
    height: 200px;
}

.deletebtn {
    line-height: 0.25;
    width: 70px;
    height: 30px;
    padding: 0px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    margin-bottom: 13px;
    border: 1px solid rgb(51, 51, 51, 0.1);
    transition: border 0.25s;
    display: none;
}

.deletebtn:hover {
    border: 9px solid black;
  }