.home-wrap {
    margin: 20% 30px 0 30px;
    font-family: 'Noto Sans KR', sans-serif;
}

.left-arrow-header .nav-icon{
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(133deg) brightness(101%) contrast(104%);
}

.home-wrap h2 {
    font-size: 60px;
    font-weight: 500;
    font-family: 'Bagel Fat One', cursive;
    margin: 0 0 40px 5px;
}

.home-wrap .sub-title {
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 15px 5px;
}

.home-wrap .content {
    font-size: 25px;
    line-height: 1.45;
    margin: 0 0 200px 5px;
    color:rgba(0, 0, 0, 0.4);
}

.home-wrap button {
    margin: 0 0 30px 0;
}

.home-wrap button:first-child {
    font-weight: 500;
    color: #333;
    background-color: #ccc;
}


.login-btn {
    flex-direction: column;
}

.login-option {
    margin: 15px 60px 100px 60px;
}

.login-option>li {
    position: relative;
}

.login-option>li::after{
    content: "|";
    position: absolute;
    right: -50%;
    transform: translateX(50%);
    color: rgba(0, 0, 0, 0.7);
}

.login-option>li:last-child::after{
    display: none;
}
