.profile-wrap {
    margin: 20% 30px 0 30px;
}

.left-arrow-header .nav-icon{
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(133deg) brightness(101%) contrast(104%);
}

.profile-wrap .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.profile-wrap h2 {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 0 60px 5px;
}

.profile-page {
    text-align: center; 
    margin-bottom: 60px;
}

.profile-page .name {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 15px;
    cursor: pointer;
}

.profile-page .name>i {
    margin: 3px 0 0 0;
}

.profile-page .email {
    font-size: 17px;
    font-weight: 300;
    color: #555;
}

.reservation-page {
    text-align: center; 
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 80px;
}

.reservation-view {
    display: flex;
    flex-direction: column;
}

.reservation-view>li>a {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid rgb(221, 221, 221,0.5);
    font-size: 19px;
    color: #555;
    margin: 0 0 0 5px;
}

.login-option>li::after{
    content: "";
    position: absolute;
    right: -50%;
    transform: translateX(50%);

}

.login-option>li:last-child::after{
    display: none;
}
