.profile-wrap {
    margin: 20% 30px 0 30px;
}

.left-arrow-header .nav-icon{
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(133deg) brightness(101%) contrast(104%);
}

.profile-wrap .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto 30px auto;
}

.form-image {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto 30px auto;
}

.profile-page form {
    text-align: center;
}

.profile-wrap h2 {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 0 80px 5px;
}

.edit-button {

    margin: 5px 5px 5px 5px;
    width: 100%;
    border: 2px solid gray;
    background: inherit;
    border-radius: 5px;
    padding: 2px;
    font-size: 18px;
    font-weight: 400;
    color: gray;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    margin: 10px 5px 10px 5px;
}