.sh-row { display:grid; grid-template-columns: repeat(5, 1fr); flex-direction: row; align-items: center; flex-wrap: nowrap; margin-bottom: 10px; row-gap: 10px; } 
.form-input { margin: 55px 5px 40px 5px; gap:40px;} 
.last { padding: 0px 108px 0px 71px; } 
.sh-lable { font-family: 'GmarketSansMedium'; font-size: 1.7rem; font-weight: 500; color: #555; margin: 0px 32px; text-align: center; white-space : nowrap; grid-row: 1 / span 2; } 
.in { display: inline-block; cursor: pointer; height: 24px; width: 90px; border: 1px solid #333; line-height: 24px; text-align: center; font-weight:bold; font-size:1.4rem; background-color: #fff; color: #333; border-radius: 5px; padding: 15px 20px; margin: 0px 8px; } 
.in:focus-visible { background-color: #333; color: #fff}
[type="radio"]:checked { background-color: #333; color: #fff}
.sh-row input[type=radio] { display: none; } 
.sh-row input[type=radio]+label { display: inline-block; cursor: pointer; height: 20px; border: 1px solid #333; line-height: 20px; text-align: center; font-weight:bold; font-size:1.4rem; border-radius: 5px; padding: 15px 20px; margin: 0px 8px; } 
.sh-row input[type=radio]+label { background-color: #fff; color: #333; } 
.sh-row input[type=radio]:checked+label { background-color: #333; color: #fff; } 
.sh-row2 { display: flex; flex-direction: row; align-items: center; justify-content: space-between; } 
.event_date { width: 100%; } 
.event_date:disabled { background-color: transparent; cursor: not-allowed; color: -internal-light-dark(graytext, rgb(170, 170, 170)); opacity: 0.7; } 
.sh-btn { width: auto; padding: 12px 20px; margin-left: 20px; margin-bottom: 5px; white-space: nowrap; font-size: 1.6rem; } 
.event_time { width: 100%; border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.3); padding: 10px; font-family: 'GmarketSansLight'; } 
button:disabled { background-color: rgb(133, 133, 133); box-shadow: none; opacity: 0.7; cursor: not-allowed; border: transparent; } 
.sh-right { float: right; font-size: 1.7rem; margin-right: 10px; color: #1a1a1a; }
select:disabled { cursor: not-allowed; } 
#quantity { margin-bottom: 15px; } 
#quantity:disabled { background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3)); cursor: not-allowed; } 
.gap2 { gap: 75px; margin: 70px 5px 100px 5px; } 
.sh-title { white-space: nowrap; margin: 0 0 10px 5px;}
.start {flex-direction: column; align-items: flex-start; } 
.sh-btn2 { max-width: fit-content; max-height: fit-content; background-color: transparent; padding: 0px; } 
.xi-refresh { font-size: 30px; font-weight: 600; color: #333; transition: text-shadow 0.3s ease-in-out; } 
.xi-refresh:hover { color: rgb(71, 71, 71); text-shadow: 3px 3px 2px rgb(180, 180, 180); } 
.sh_form { gap: 50px; }
.middle {flex-direction: column; font-size:1.5rem; align-items: normal; margin-right: 70px;}
.info_start {margin: 7px 0px 9px 5px; font-size: 1.5rem;}
.sh-row_2 {display: flex; align-items: flex-start; justify-content: space-between;}
.sh-box { position: relative; display: flex; flex-direction: row; justify-content: space-between; padding: 25px 0; border-bottom: 1px solid rgb(221, 221, 221,0.5); font-size: 1.9rem; color: #9f9f9f; margin: 0 0 0 5px; } 
.none { padding: 13px 0px; border-bottom: none; }
.to { padding-top: 13px; }
.total { border-bottom: none; color: #000000; font-weight: bold; margin-bottom: 40px; }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
.sh-small { font-size: 1.7rem; }
.test_btn { font-size:15px; padding:20px;}
.login-page { height: 100%;}

@media(max-width:1060px) {
.sh-row { display:grid; grid-template-columns: repeat(5, 1fr); flex-direction: row; align-items: center; flex-wrap: nowrap; margin-bottom: 5px; row-gap: 10px; } 
.form-input { margin: 55px 5px 30px 5px; gap:40px; }
.last { padding: 0px 108px 0px 71px; } 
.sh-lable { font-family: 'GmarketSansMedium'; font-size: 1.7rem; font-weight: 500; color: #555; margin: 0px 8px; text-align: center; white-space : nowrap; grid-row: 1 / span 2; } 
.in { display: inline-block; cursor: pointer; height: 24px; width: 90px; border: 1px solid #333; line-height: 24px; text-align: center; font-weight:bold; font-size:1.4rem; background-color: #fff; color: #333; border-radius: 5px; padding: 15px 20px; margin: 0px 8px; } 
.in:focus-visible { background-color: #333; color: #fff}
[type="radio"]:checked { background-color: #333; color: #fff}
.sh-row input[type=radio] { display: none; } 
.sh-row input[type=radio]+label { display: inline-block; cursor: pointer; height: 16px; border: 1px solid #333; line-height: 16px; text-align: center; font-weight: bold; font-size: 1.4rem; border-radius: 5px; padding: 10px 0px; margin: 0px 5px; } 
.sh-row input[type=radio]+label { background-color: #fff; color: #333; } 
.sh-row input[type=radio]:checked+label { background-color: #333; color: #fff; } 
.sh-row2 { display: flex; flex-direction: row; align-items: center; justify-content: space-between; }
.event_date { width: 100%; } 
.event_date:disabled { background-color: transparent; cursor: not-allowed; color: -internal-light-dark(graytext, rgb(170, 170, 170)); opacity: 0.7; } 
.sh-btn { width: auto; padding: 12px 20px; margin-left: 20px; margin-bottom: 5px; white-space: nowrap; font-size: 1.6rem; } 
.event_time { width: 100%; border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.3); padding: 10px; font-family: 'GmarketSansLight'; } 
button:disabled { background-color: rgb(133, 133, 133); box-shadow: none; opacity: 0.7; cursor: not-allowed; border: transparent; } 
.sh-right { float: right; font-size: 1.7rem; margin-right: 10px; color: #1a1a1a; }
select:disabled { cursor: not-allowed; } 
#quantity { margin-bottom: 15px; } 
#quantity:disabled { background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3)); cursor: not-allowed; } 
.gap2 { gap: 90px; margin: 70px 5px 100px 5px; } 
.sh-title { white-space: nowrap; margin: 0 0 10px 5px;}
.start {flex-direction: column; align-items: flex-start; margin-right: 15px;} 
.sh-btn2 { max-width: fit-content; max-height: fit-content; background-color: transparent; margin-right: 5px; } 
.xi-refresh { font-size: 30px; font-weight: 600; color: #333; transition: text-shadow 0.3s ease-in-out; } 
.xi-refresh:hover { color: rgb(71, 71, 71); text-shadow: 3px 3px 2px rgb(180, 180, 180); } 
label { font-size: 15px; }
.middle {flex-direction: column; font-size:1.5rem; align-items: normal; padding-top: 9px; margin-right: 0px;}
.info_start {margin: 5px 0px 7px 5px; font-size: 1.5rem;}
.sh-row_2 {display: flex; align-items: flex-start; justify-content: space-between;}
.sh-box { position: relative; display: flex; flex-direction: row; justify-content: space-between; padding: 25px 0; border-bottom: 1px solid rgb(221, 221, 221,0.5); font-size: 1.9rem; color: #9f9f9f; margin: 0 0 0 5px; } 
.none { padding: 13px 0px; border-bottom: none; }
.to { padding-top: 13px; }
.total { border-bottom: none; color: #000000; font-weight: bold; margin-bottom: 25px; }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
.sh-small { font-size: 1.7rem; }
.test_btn { font-size:15px; padding:15px;}
.login-page { height: 120%;}
}


@media (max-width: 380px) {
nav .flex {
    flex-direction: row;
}
}