/* *{
    outline: 1px solid red;
} */

/* 스크롤 시 네비바 색상 변경 */

header {
    position: fixed;
    top: 0;
    left: calc(50% - 47.5px);
    width: 575.5px;
    font-size: 17px;
    border-bottom: 1px solid rgb(51, 51, 51, 0.1);
    background-color:#fff;
    transition-property: background-color;
    transition-duration: 1s; 
    z-index: 999;
}

header nav {
    margin: 25px;
}

header h1 {
    font-size: 30px;
    color: #000;
    font-family: 'Bagel Fat One', cursive;
}

.nav-icon img{
    filter: invert(0%) sepia(1%) saturate(7499%) hue-rotate(338deg) brightness(10000%) contrast(96%);
}

/* 메인 카드 (최상위에 있는 카드) */

.Gwolnadri-body .main-page {
    position: relative;
    z-index: -1;
}

.Gwolnadri-body .store-page img{
    width: 100%;
    height: 600px;
    /* object-fit: cover; */
}


.store-wrap .contant-page, .store-wrap .review {
    margin: 30px 30px 120px 30px;
}

.store-title .hanbok_store {
    font-size: 29px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.store-title .hanbok_category {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    width: auto;
    padding: 8px 13px;
    margin-bottom: 15px;
    border: 1px solid rgb(51, 51, 51, 0.7);
    border-radius: 20px;
}

.store-wrap .card-icon {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 0 0 30px 0;
    border-bottom: 1px solid rgb(51, 51, 51, 0.1);
}

/* 스토어 리뷰 */

.review-title {
    font-size: 21px;
    font-weight: 500;
    margin: 30px 0;
}

.review .review_image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.review .sub-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-card {
    display: flex;
    gap: 30px;
    padding: 15px;
    border: 1px solid rgb(51, 51, 51, 0.1); 
}

.review-txt {
    line-height: 1.45;
}

/* 북마크, 좋아요 */

.card-icon {
    display: flex;
    flex-direction: row;
}

/* 스토어 서브 카드 (아래 컨텐츠 탭에 들어갈 카드) */
 
.swiper {
    width: 100%;
    height: 100%;
    margin: 0 0 0 30px;
}

.card-page {
    display: flex;
    flex-direction: row;
    z-index: -1;
    margin: 0 0 30px 0;
}

.card-page .sub-card{
    position: relative;
}

.card-page .sub-card img{
    width: 210px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%)
}

.card-page .sub-card .sub-card-txt {
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 300px;
    margin-bottom: 30px;
    color: #fff;
}

.card-page .sub-card-txt .title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

.card-page .sub-card-txt .event-price {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 30px;
}

.card-page button {
    width: 90px;
    padding: 5px 10px;
    font-size: 15px;
    background-color: rgb(30, 30, 77, 0.7);
    border: 1px solid rgb(255, 255, 255,0.7);
}

/* 후기작성하기 버튼 */
.njs-button {
    width: fit-content;
    float: right;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
}

/* 후기작성하기 내용물 */
.review-content {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.review-button {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 200px;
}

.review-button>.button-case{
    display: flex;
    gap: 10px;
    justify-content: flex-end;    
}

.review-button>.button-case>button{
    padding: 3px 13px;    
}

.sh_input_img {
    width:55%;
}

select {
    padding: 10px 5px;
}